{% extends "_includes/default.njk" %}
{% set bodyclass = "birds" %}

{% block content %}
<div class="fixed inset-0 flex justify-center items-center">
	<div x-data="searchform()">
		<input type="text" x-model="term">
		<button x-on:click="search">Search</button>
	</div>
</div>
{% endblock %}